<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ionicframework.heolidaychecker622234" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Holiday Checker</name>
    <description>Find out when the next holiday is.</description>
    <author email="rrahel.cemi@edu.fh-jonneum.at" href="http://ionicframework.com/">Rrahel Cemi</author>
    <author email="arlinda.butja@edu.fh-jonneum.at" href="http://ionicframework.com/">Arlinda Butja</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-navigation href="http://ionic.local/*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="https://maps.googleapis.com/maps/api/geocode/json?latlng=/*" />
    <allow-intent href="https://holiday-checker.herokuapp.com/api/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="16" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="FadeSplashScreenDuration" value="300" />
    <preference name="SplashShowOnlyFirstTime" value="false" />
    <feature name="StatusBar">
        <param name="ios-package" onload="true" value="CDVStatusBar" />
    </feature>
    <engine name="android" spec="^6.2.3" />
    <engine name="browser" spec="^4.1.0" />
    <engine name="ios" spec="^4.4.0" />
    <plugin name="cordova-plugin-geolocation" spec="^2.4.3" />
    <plugin name="de.appplant.cordova.plugin.local-notification" spec="^0.8.5" />
</widget>
