page-list {

    .item-md {
        background: rgba(255,255,255,0.04);//#313639;
        color: white;
        padding-right: 16px;

        & .item-inner {
            border-bottom: 0.1px solid #252A2D;
            padding-right: 0px !important;
        }
    }
}
