// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.content-md, .content-ios {
    background-color: #252A2D !important;//#2C3134; 
    color: #fff !important;
}

.button-md:hover, .button-ios:hover {
    background-color: none !important;
}

.toolbar-background-md, .toolbar-background-ios {
    border-color: #b2b2b2;
    background:  #1D1F21;
}

.toolbar-title-md, .toolbar-title-ios {
    padding: 5px 15px;
    font-size: 2rem;
    font-weight: 500;
    color: rgba(255,255,255, 0.8);
}

.label-md, .label-ios {
    color: #ffF;//rgba(255,255,255, 0.8);
}

.picker-md .picker-wrapper, .picker-ios .picker-wrapper {
    height: 260px;
    border-top: 0.55px solid #151718;
    background: #151718;
}

.picker-md .picker-toolbar, .picker-ios .picker-toolbar {
    background: #151718;
}

.picker-md .picker-opt, .picker-ios .picker-opt {
    color: rgba(255,255,255, 0.8);
}

.picker-ios .picker-above-highlight, .picker-ios .picker-below-highlight {
    background: transparent !important;
}

.datetime-text {
    color: #fff;
}

.loading-md .loading-wrapper {
    padding: 24px;
    max-width: 280px;
    max-height: 90%;
    border-radius: 4px;
    color: #fff;
    background: #1D1F21;
    box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
}

// .searchbar-ios {
//     background: #fff;
// }

.alert-wrapper {
    background: #1D1F21 !important;
    color: rgba(255,255,255, 0.8) !important;

    & .alert-message {
        color: #fff;
    }
}